%h3 Comments
- @post.comments.each do |comment|
  .well
    %p
      %strong>= comment.user.first_name
      \: #{comment.body}
      \#{link_to "[X]", [comment.post, comment], method: :delete, data: {confirm: "Are you sure?"}}
